

<script src="/static/js/magnet_interact.js" ></script>
<script src="/static/js/select_interact.js" ></script>
<script src="/static/js/infos_interact.js" ></script>
<script src="/static/js/track_interact.js" ></script>
<script src="/static/js/group_interact.js" ></script>
<script src="/static/js/mouse_move_interact.js" ></script>
<script src="/static/js/mouse_down_interact.js" ></script>
<script src="/static/js/view_interact.js" ></script>
<script src="/static/js/create_object_interact.js" ></script>
<script src="/static/js/basic_interact.js" ></script>
<script src="/static/js/mouse_interact.js" ></script>


<script src="/static/js/keys_interactions1.js" defer></script>
<script src="/static/js/keys.js" defer></script>
<script src="/static/js/interface_actions.js"></script>
<script src="/static/js/interaction_voice.js" ></script>
