<!DOCTYPE html>
<html>
<head>
	<title>GamePad Library Demo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="gamepad.js"></script>
</head>
<body>
	<ul id="gamepads"></ul>
	<p id="connect-notice">Connect your controller and press any button.</p>
	<script>

	$(document).ready(function() {
		// Attach it to the window so it can be inspected at the console.
		window.gamepad = new Gamepad();

		gamepad.bind(Gamepad.Event.CONNECTED, function(device) {
			console.log('Connected', device);
			alert("device.index: " + device.index + "device.id: " + device.id)
			$('#connect-notice').hide();
		});

		gamepad.bind(Gamepad.Event.DISCONNECTED, function(device) {
			console.log('Disconnected', device);
			if (gamepad.count() == 0) {
				$('#connect-notice').show();
			}
		});

		gamepad.bind(Gamepad.Event.TICK, function(gamepads) {
			var gamepad,
				control,
				value,
				i,
				j;

			for (i = 0; i < gamepads.length; i++) {
				gamepad = gamepads[i];
				if (gamepad) {
					for (control in gamepad.state) {
						value = gamepad.state[control];
						if (value!=0){
							alert(control + '_' + value)
						}
					} // end for
				} // end if game
			}
		}); // end gamepad.bind(Gamepad.Event.TICK

		if (!gamepad.init()) {
			alert('Your browser does not support gamepads, get the latest Google Chrome or Firefox.');
		}
	});

	</script>
</body>
</html>
