<div class="navig">

    <div class="menu" style='left:70px' id="scene"> Scene </div>
    <div class="menu" style='left:200px' id="objects" > Object </div>
    <div class="menu" style='left:330px' id="views" > Views </div>
    <div class="menu" style='left:460px' id="tools" > Tools </div>
    <div class="menu" style='left: 90%' id="help" > Help </div>

</div>

<div style="cursor: auto;">

  <div class="panel input_interface" id="pan" >

        <div class="titlepanel" > Parameters </div>

        <br><br>

        <div> <span>name: </span><span id="name_panel" >
              name
            </span>
        </div>
        <br><br>
        <div> <span> width: </span><span>
                <input  value="width" size=8 id="width_panel">
            </span>
        </div>
        <div> <span> height: </span><span>
                <input value="height" size=8 id="height_panel">
            </span>
        </div>
        <div> <span> angle: </span><span>
                <input value="angle" size=8 id="angle_panel">
            </span>
        </div>
        <div> <span> color: </span><span>
                <input value="color" size=8 id="color_panel">
            </span>
        </div>
        <div> <span> alpha: </span><span>
                <input value="alpha" size=8 id="alpha_panel">
            </span>
        </div>
        <div> <span> texture: </span><span >
                <!-- <input value="texture" size=8 id="texture_panel"> -->
                <form  id ="dropz" action="/upload_file" class="dropzone" method="POST" enctype="multipart/form-data" >
                      <!-- <div class="dz-message "> hop </div> -->
                </form>
            </span>
        </div>

        <br><br>
        <center> <button id="block_pos" type="button" class="btn btn-alert"> block </button> </center>
        <br>
        <center> <button id="save_param" type="button" class="btn btn-success"> save </button> </center>
        <br>

        <br><br>

  </div>

</div>

<div class="panel_menu1" id="menu1" hidden>  </div>
<!-- <div class="panel_objects" id="pobj" >  </div> -->
<div class="current_func" id="curr_func" >  </div>
<!-- <div class="current_control" id="curr_cntrl" >  </div> -->

<!-- Keys -->

<div class="panel_keys" hidden ></div>

<!-- Objects -->

<div class="panel_objects  input_interface" hidden >

  <div class="titlepanel" > Object </div>

      <br><br><br>

      <div  class="help" id="type_obj" > type </div><br>
      <div  class="help" id="color_obj" > color </div><br>
      <div  class="help" id="angle_obj" > angle </div>

</div>

<!-- Views -->

<div class="panel_views  input_interface" hidden >

  <div class="titlepanel" > Views </div>

      <br><br><br>

      <div  class="help" id="front_view" > front </div><br>
      <div  class="help" id="back_view" > back </div><br>
      <div  class="help" id="left_view" > left side </div><br>
      <div  class="help" id="right_view" > right side </div>

</div>

<!-- Scene -->

    <div class="panel_scene input_interface" hidden >

      <div class="titlepanel" > Scene </div>

          <br><br><br>

          <div  class="help" > <span> Name: </span><span> </span>
                  <input  value="    None" size=16 id="scene_name">
          </div> <br>
          <div  class="help" id="scene_sky" > Sky </div><br>
          <div  class="help" id="scene_ground" > Ground </div><br>
          <div  class="help" id="scene_light" > Light </div><br>

          <center> <button id="save_scene" type="button" class="btn btn-success"> save </button> </center>

          <br>

    </div>


    <div class="panel_tools input_interface" hidden >

      <div class="titlepanel" > Tools </div>

          <br><br><br>

          <div  class="help" id="distance" > distance </div><br>

    </div>

<!-- Help -->

<div class="panel_help" hidden >

  <div class="titlepanel" > Help </div>

      <br><br><br>

      <div  class="help" id="keys" > keys </div><br>
      <div  class="help" id="doc" > Documentation </div><br>
      <div  class="help" id="ex" > Examples </div>

</div>
