<div class="navig">

    <div class="menu" style='left:25px'  id="scene"       data-toggle="tooltip" title="Scène (sauver / charger / effacer)">🎬</div>
    <div class="menu" style='left:75px'  id="objects"     data-toggle="tooltip" title="Objet">📦</div>
    <div class="menu" style='left:125px' id="views"       data-toggle="tooltip" title="Vues">👁️</div>
    <div class="menu" style='left:175px' id="tools"       data-toggle="tooltip" title="Outils">🔧</div>
    <div class="menu" style='left:225px' id="interaction" data-toggle="tooltip" title="Interaction (physique)">🧲</div>
    <div id="scene_name_navbar" style="position:absolute; top:12px; right:11%; max-width:28%; text-align:right; font-family:'Playfair Display'; font-size:1.65em; letter-spacing:0.1em; color:#444; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; z-index:10010;"></div>
    <div class="menu" style='left: 90%'  id="help"        data-toggle="tooltip" title="Aide">?</div>

</div>
