<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>

		<title>Moving the walls</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	</head>

	<style>

	#save_param {
		margin-left: -40px
	}

	#dropz {
		height: 30px;
		width : 140px;
		margin-left: 15px;
	}

	</style>

	<body>

		<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->

		<!-- moving walls -->
		<link rel="stylesheet" href="/static/css/moving_walls.css">

    <!-- socket.io -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

		<!-- time -->
		<script src="/static/js/moment.min.js"></script>

		<!-- Three.js -->
		<script src="/static/js/simple_flat/three.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/102/three.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/90/three.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/80/three.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/60/three.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/50/three.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/40/three.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r57/three.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r65/three.js"></script>

		<!-- <script src="/static/js/simple_flat/TrackballControls.js"></script> -->
		<script src='https://rawgit.com/YaleDHLab/pix-plot/master/assets/js/trackball-controls.js'></script>
		<script src="/static/js/simple_flat/stats.js"></script>
		<script src="/static/js/object_museum.js"></script>
		<script src="/static/js/make_objects.js"></script>
		<script src="/static/js/mouse_interact.js" ></script>

		<script src="/static/js/keys.js" defer></script>

		<!-- jquery -->
		<script src="/static/js/jquery.min.js"></script>
		<!-- jquery-ui -->
		<script src="/static/js/jquery-ui.js"></script>

		<!-- bootstrap -->
		<script src="/static/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">

		<!-- Dropzone -->

		<script src="/static/js/dropzone.js"></script>
		<script src="/static/js/manage_drop.js"></script>
		<link rel="stylesheet" href="/static/css/dropzone.css">

		<script>

			var container, stats;
			var camera, controls, scene, projector, renderer;
			var objects = [], plane;
			var create_new_obj = false;  		    // create a new object witht the mouse
			var select_obj = false;             // select multiple objects.
			var make_plane = false;             // make a plane
			var selpos = [];
			var select_poscam = false; 			    // change camera position with mouse
			var list_obj_inside = [];  					// list of the objects inside the area..
			var select_picking = false;         // picking the object fr future action..

			//------------------------- Graphical objects

			var mouse = new THREE.Vector2(),
			offset = new THREE.Vector3(),
			INTERSECTED, SELECTED, LAST_SELECTED;          // interaction with mouse..

			//------------------------- Socket communication

			namespace = '/pos'; // change to an empty string to use the global namespace
      var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

			init();
			animate();

			function init() {

				/*
				Initialize the scene..
				*/

				container = document.createElement( 'div' );
				document.body.appendChild( container );

				//------------------------- Camera

				camera = new THREE.PerspectiveCamera( 70, window.innerWidth / window.innerHeight, 1, 10000 );
				camera.position.z = 2000;
				camera.position.y = -2000;
				camera.position.x = 0;

				//------------------------- Control the view

				controls = new THREE.TrackballControls( camera );
				controls.rotateSpeed = 1.0;
				controls.zoomSpeed = 1.2;
				controls.panSpeed = 0.8;
				controls.noZoom = false;
				controls.noPan = false;
				controls.staticMoving = true;
				controls.dynamicDampingFactor = 0.3;

				scene = new THREE.Scene();

				scene.add( new THREE.AmbientLight( 0x505050 ) );

				// ----------------------------------------------- Light

				var light = new THREE.SpotLight( 0xffffff, 1.5 );
				light.position.set( 200, 500, 5000 );
				light.castShadow = true;

				// ----------------------------------------------- Shadow

				light.shadowCameraNear = 200;
				light.shadowCameraFar = camera.far;
				light.shadowCameraFov = 50;
				// -------------------------
				light.shadowBias = -0.00022;
				light.shadowDarkness = 0.5;

				scene.add( light );

				//make_objects_onflat()
				ground = make_uniform_ground()  							// make the board
				// ------------------------- Shadow ground
				light.shadowMapWidth = ground.size;
				light.shadowMapHeight = ground.size;
				//make_small_seats()     		// make the seats
				//make_seat()            		// make the seat

				listorig = {}
				listmat = {} // list of materials
				basic_color = 0xffffff;  // white color by default...
			  basic_tex_addr = "static/upload/Blank.jpg"

				function loadwall(k, msg){

							/*
							Create a new wall
							*/

							if (msg[k]['type'] == "wall"){
										curr_tex_addr = msg[k]['tex_addr'] || basic_tex_addr;
										curr_tex = new THREE.ImageUtils.loadTexture( curr_tex_addr ) // edfault white texture
										listmat[k] = new THREE.MeshBasicMaterial({ map : curr_tex, color : basic_color})
										listorig[k] = make_wall( k, msg[k]['pos'], msg[k]['rot'], listmat[k] )   // make the wall object
										listorig[k]['clone_infos'] = msg[k]['clone_infos']                       // add the infos about cloning
										listorig[k]['tex_addr'] =  curr_tex               											 // texture address
							 }
				}

				function load_scene(msg){

							/*
							Loading the scene
							*/

							for (i=0; i < Object.keys(msg).length; i++){ 					// Create the objects at the beginning
											var k = Object.keys(msg)[i]  									// k is the objects name
											loadwall(k, msg)                              // load the objects wall..

									} // end for (loading the scene)

				} // end load_scene..

				//-----------------------------------------

				/*
				Communication server client..
				*/

				socket.emit( 'begin',  "hello from client"); // send mess to server for ping pong..
				socket.on('server_pos', function(msg) {
							load_scene(msg)  // When receiving the scene from the server (pos.json), load it in the client..
					  });// end socket.on

				// var gjson ;
				// gjson = getJSON('../static/js/pos.json', function(data){
				// 	  $('.panel_keys').text(JSON.stringify(data))
				// }) ;


				// $.getJSON("../static/js/pos.json", function (msg) {
				// 		//$('.panel_keys').text(JSON.stringify(msg))
				// 		$('.panel_keys').text("helllo darling")
		    //     //load_scene(msg)
	    	// 		});

			 // var request = new XMLHttpRequest();
		   // request.open("GET", '../static/pos.json', false);
		   // request.send(null)
		   // var jsobj = JSON.parse(request.responseText);
			 // console.log(jsobj)
			 // load_scene(jsobj)
			 // dicsimple = {"rrr":"rrer"}
			 // document.getElementById("curr_func").textContent = "heeeee"; //dicsimple['rrr'];

				init_drag();

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.sortObjects = false;
				renderer.setSize( window.innerWidth, window.innerHeight );
				renderer.shadowMapEnabled = true;
				renderer.shadowMapType = THREE.PCFShadowMap;
				renderer.domElement.addEventListener( 'mousemove', onDocumentMouseMove, false );
				renderer.domElement.addEventListener( 'mousedown', onDocumentMouseDown, false );
				renderer.domElement.addEventListener( 'mouseup', onDocumentMouseUp, false );

				//-------------------------- Create object

				renderer.domElement.addEventListener( 'mousedown', mouse_create_object_or_action, false );

				//-------------------------- Infos

				renderer.domElement.addEventListener( 'mouseup', give_infos, false );

				//------------------------- Emit the infos about all the objects..

				function emit_infos_scene(){          									// emits the positions toward the server to save them

						/*
						Send the informations (about position, cloning, rotation, type of object..) to the server..
						*/

						var listpos = {}         														// list of all the positions
						for (i in objects){
									if (objects[i].type != 'pawn' & objects[i].type != null){
											var x = objects[i].rotation.x
											var y = objects[i].rotation.y
											var z = objects[i].rotation.z
											var infos_obj = {
																			 "pos": objects[i].position,
											 								 "rot": {x,y,z},
																			 "clone_infos": objects[i].clone_infos,
																			 "type": objects[i].type,
																			 'tex_addr' : objects[i].tex_addr
																		  };
											listpos[objects[i].name] = infos_obj;   			// add informations about the objects in the scene to listpos
											listpos['datetime'] = { 'date': moment().format('MMMM Do YYYY, h:mm:ss a'), 'type':'date' }; // save the date
										}    // end if
									}    // end for
						socket.emit( 'message', JSON.stringify(listpos));  // send the informations to the server
					}    // end emit_infos_scene

				renderer.domElement.addEventListener( 'mouseup', emit_infos_scene, false );

				//---------------------------

				container.appendChild( renderer.domElement );
				window.addEventListener( 'resize', onWindowResize, false );

			} // end init

			function animate() {
				requestAnimationFrame( animate );
				render();
			}

			function render() {
				controls.update();
				renderer.render( scene, camera );
			}

		</script>

    <div class="navig">

				<div class="menu" style='left:70px'> Home </div>
				<div class="menu" style='left:200px' id="objects" > Object </div>
				<div class="menu" style='left: 90%' id="help" > Help </div>

		</div>

		<div style="cursor: auto;">

			<div class="panel" id="pan" >

						<div class="titlepanel" > Parameters </div>

						<br><br>

						<div> <span>name: </span><span id="name_panel" >name</span> </div>
						<div> <span>width: </span><span id="width_panel" ><input value="width" size=8></span> </div>
						<div> <span>height: </span><span id="height_panel" >height</span> </div>
						<div> <span>angle: </span><span id="angle_panel" >angle</span> </div>
						<div> <span>color: </span><span id="color_panel" >color</span> </div>
						<div> <span>texture: </span><span id="texture_panel" >texture</span> </div>

						<br><br>

						<center> <button id="save_param" type="button" class="btn btn-success">save</button> </center>

						<br><br>

						<form  id ="dropz" action="/upload_file" class="dropzone" method="POST" enctype="multipart/form-data" ></form>

						<br><br>

						<!-- <div>
								  <input type="checkbox" id="rotate" name="rot">
								  <label for="rotate">Rotation</label>
						</div> -->

						<!-- <div>
									<input type="checkbox" id="infos" name="inf">
									<label for="informatons">Show Infos</label>
						</div> -->

			</div>

		</div>

		<div class="panel_menu1" id="menu1" hidden>  </div>
		<div class="panel_objects" id="pobj" >  </div>
		<div class="current_func" id="curr_func" >  </div>

<!-- Keys -->

		<div class="panel_keys" hidden ></div>

		<div class="panel_objects" hidden >

			<div class="titlepanel" > Object </div>

					<br><br><br>

					<div  class="help" id="type_obj" > type </div>
					<br>
					<div  class="help" id="color_obj" > color </div>
					<br>
					<div  class="help" id="angle_obj" > angle </div>

		</div>

		<div class="panel_help" hidden >

			<div class="titlepanel" > Help </div>

					<br><br><br>

					<div  class="help" id="keys" > keys </div>
					<br>
					<div  class="help" id="doc" > Documentation </div>
					<br>
					<div  class="help" id="ex" > Examples </div>

		</div>

		<script>

//===================================================================== Simple markdown

    /*
    Simple markdown used for providing informations to the user.
    It handles classical markdown list syntax.
    */

    simple_md = function(text){ // mini markdown for the help
        var all_text = text.split('\n')
        var htm = $('<div/>')
        var ul = $('<ul/>').css({'text-align':'left'})
        for (i in all_text){
            var text_insert = all_text[i].trim().slice(1) // prepare text
            if (all_text[i].match(/^\s{4}\*/)){    // detect list first level
                ul.append($('<li/>').text(text_insert).css({"font-weight": "bold"}))
                } // end if
            if (all_text[i].match(/^\s{8}\*/)){  // detect list second level
                    var interm1 = $('<ul/>').append($('<li/>').text(text_insert))
                    ul.append(interm1)
                    } // end if
            if (all_text[i].match(/^\s{12}\*/)){  // detect list third level
                    var interm2 = $('<ul/>').append($('<li/>').text(text_insert))
                    interm1.append(interm2)
                    } // end if
            if (all_text[i].match(/\s*\#/)){ // detect #
                htm.append($('<h1/>').text(text_insert))
                } // end if
        } // end for
        htm.append(ul);
        return htm.html()
    } // end function

var keys = function(){/*
    # Keys:
    * action
        * s : select an area
        * h : make an horizontal plane..
        * r : rotation
        * c : clone
        * d : delete
        * k : select camera position with the mouse..
        * n : new piece with mouse
				* SHIFT : select many objects separately
        * arrow up : move up
        * arrow down : move down
*/}.toString().slice(14,-3)

//===================================================================== keys

	 /*
		Keys shortcuts
		div containing all the shortcuts
	 */

	 $('.panel_keys').html(simple_md(keys))

			//---------------------- Keys

			$('#keys').click(function(){
						$('.panel_keys').toggle() 											     // show hide the key panel
				})
			// $('#keys').hover(function(){
			// 			$('.panel_keys').show() 											     // show hide the key panel
			// 	})

			$('.panel_keys').mouseleave(function(){
						$('.panel_keys').hide()
				})

			//---------------------- Objects..

			$("#objects").hover(function(){
						//$('.panel_keys').toggle() 										     // show hide the Objects panel
						$('.panel_objects').show()
				})
			$('.panel_objects').mouseleave(function(){
						$('.panel_objects').hide()
				})

			//---------------------- Help

			$("#help").hover(function(){
						//$('.panel_keys').toggle() 										    // show hide the key panel
						$('.panel_help').show()
				})
			$('.panel_help').mouseleave(function(){
							$('.panel_help').hide() 											    // show hide the help panel
					})

			//---------------------- Panel about object

			$('.panel').mouseleave(function(){                       // panel about the object..
						$('.panel').css({'top':"10px","left":"-300px"})    // close panel about object infos when mouse leaves..
				})

    manage_drop()                                              // manage the Dropzone

		</script>

		</body>
</html>
