<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>

		<title>Moving the walls</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	</head>

	<body>

		<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->

		<!-- moving walls -->
		<link rel="stylesheet" href="/static/css/moving_walls.css">

    <!-- socket.io -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

		<!-- time -->
		<script src="/static/js/moment.min.js"></script>

		<!-- Three.js -->
		<script src="/static/js/simple_flat/three.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/102/three.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/90/three.js"></script> -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/80/three.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.js"></script>

		<!-- <script src="/static/js/simple_flat/TrackballControls.js"></script> -->
		<script src='https://rawgit.com/YaleDHLab/pix-plot/master/assets/js/trackball-controls.js'></script>
		<script type="/static/js/point_locker.js"></script>
		<script src="/static/js/simple_flat/stats.js"></script>
		<script src="/static/js/basic_objects.js"></script>
		<script src="/static/js/make_objects.js"></script>
		<script src="/static/js/mouse_interact.js" ></script>

		<script src="/static/js/keys.js" defer></script>

		<!-- jquery -->
		<script src="/static/js/jquery.min.js"></script>
		<!-- jquery-ui -->
		<script src="/static/js/jquery-ui.js"></script>

		<!-- bootstrap -->
		<script src="/static/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">

		<!-- Dropzone -->

		<script src="/static/js/dropzone.js"></script>
		<script src="/static/js/manage_drop.js"></script>
		<link rel="stylesheet" href="/static/css/dropzone.css">

		<script src="/static/js/init_scene.js"></script>
		<script src="/static/js/interface_actions.js"></script>

		<script>

		var container, stats;
		var camera, controls, scene, projector, renderer;
		var objects = [], plane;
		new_wall_ok = false;  		    	// create a new wall with the mouse
		new_simple_cube_ok = false;  		// create a new simple_cube with the mouse
		new_cube_texture_ok = false
		new_pavement_ok = false;
		select_obj = false;             // select multiple objects.
		make_plane = false;             // make a plane
		selpos = [];
		select_poscam = false; 			    // change camera position with mouse
		list_obj_inside = [];  					// list of the objects inside the area..
		select_picking = false;         // picking the object fr future action..
		infos_in_place = false;
		select_obj_infos = false;
		select_move_group = false;
		select_make_track = false;
		select_traj = false;   							// object trajectory..
		dic_sphere_blocked = {}							// dict of the sphere indicating the element is blocked..
		dict_pos_relat = {}
		list_dotted_area = []
		list_marks_track = []
		size_elem_dotted_line = 15					// size of each element of the dotted line delimiting the selection area
		step_up_down = 10;   								// vertical step when moving an object up or down
		nearest_elem = null;
		orientation_track = 'x'
		last_mark_track = null
		var track_width = 40
		coord_track_blocked = null
		dir_track_blocked = null
		perpendicular_track = true
		anti_dic = {'x':'y','y':'x'}

		//------------------- Colors

		var pale_blue0 = 0xccf5ff;
		var orange_medium = 0xffddcc;
		color_dotted_line_black = 0x000000;
		//basic_color_pale_yellow = 0xffffcc;  											// white color by default...
		color_basic_default_pale_grey = 0xf2f2f2
		color_near_object_yellow = 0xffff66;
		color_intersected_green = 0x66ff33;
		color_object_inside_pink = 0xffcccc;
		color_clone_pale_blue = 0xcceeff;
		color_mark_pale_rose = 0xffcccc;
		color_mark_quite_red = 0xff1a1a;
		color_mark_quite_grey = 0xa6a6a6;
		color_group_medium_blue = 0x99ccff;
		color_track_green = 0x99ff99;
		color_track_blue = 0xcceeff;

		//------------------------ Textures

		basic_tex_addr = "static/upload/Blank.jpg";  	// default texture
		basic_multiple_tex_addr = "static/upload/face_color";  	// default texture
		default_texture = 'face_color';

		//------------------------

		var blocker = document.getElementById( 'blocker' );
		var instructions = document.getElementById( 'instructions' );

		//------------------------- Graphical objects

		var mouse = new THREE.Vector2(),
		offset = new THREE.Vector3(),
		INTERSECTED, SELECTED, LAST_SELECTED;          // interaction with mouse..

		//------------------------- Socket communication

		namespace = '/pos'; // change to an empty string to use the global namespace
		var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

		init();
		animate();
		//ptlock()

		function animate() {
				requestAnimationFrame( animate );
				render();
		}

		function render() {
				controls.update();
				renderer.render( scene, camera );
		}

		</script>

		{% include 'interface.html' %}

		<script> init_interf_actions() </script>

		</body>
</html>
