<!DOCTYPE html>
<html lang="en">

	{% include 'head.html' %}

	<body>

		<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->

		<!-- moving walls -->
		<link rel="stylesheet" href="/static/css/moving_walls.css">

    <!-- socket.io -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>

		<!-- time -->
		<script src="/static/js/moment.min.js"></script>

		{% include 'jquery.html' %}
		{% include 'three.html' %}
		{% include 'object.html' %}
		{% include 'dependencies_interact.html' %}
		{% include 'bootstrap.html' %}
		{% include 'dropzone.html' %}
		{% include 'scene.html' %}

		<script src="/static/js/objects_animation.js"></script>


		<script>

		var container, stats;
		var camera, controls, scene, projector, renderer;
		var objects = [], plane ;
		var prevTime = performance.now();
		list_steps = []
		list_interact = []

	  //arrow()

		//------------------------

		var blocker = document.getElementById( 'blocker' );
		var instructions = document.getElementById( 'instructions' );

		//------------------------- Graphical objects

		var mouse = new THREE.Vector2(),
		offset = new THREE.Vector3(),
		INTERSECTED, SELECTED, LAST_SELECTED;          // interaction with mouse..

		//------------------------- Socket communication

		namespace = '/pos'; // change to an empty string to use the global namespace
		var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

		init();
		animate();
		//ptlock()

		function animate() {

				var time = performance.now();
	 			var delta = ( time - prevTime ) / 100;
				gravity(delta)
				change_all_pos(delta)
				interactions_between_objects()
				prevTime = time;

				requestAnimationFrame( animate );
				render();
		}

		function render() {
				controls.update();
				renderer.render( scene, camera );
		}

		</script>

		{% include 'interface.html' %}


		</body>
</html>
