<div style="cursor: auto;">

  <div class="panel input_interface" id="pan" >

        <div class="titlepanel" > Parameters </div>

        <br><br>

        <div> <span>name: </span><span id="name_panel" >
              name
            </span>
        </div>
        <br><br>
        <div> <span> width: </span><span>
                <input  value="width" size=8 id="width_panel">
            </span>
        </div>
        <div> <span> height: </span><span>
                <input value="height" size=8 id="height_panel">
            </span>
        </div>
        <div> <span> angle: </span><span>
                <input value="angle" size=8 id="angle_panel">
            </span>
        </div>
        <div> <span> color: </span><span>
                <input value="color" size=8 id="color_panel">
            </span>
        </div>
        <div> <span> alpha: </span><span>
                <input value="alpha" size=8 id="alpha_panel">
            </span>
        </div>
        <div> <span> texture: </span><span >
                <!-- <input value="texture" size=8 id="texture_panel"> -->
                <form  id ="dropz" action="/upload_file" class="dropzone" method="POST" enctype="multipart/form-data" >
                      <!-- <div class="dz-message "> hop </div> -->
                </form>
            </span>
        </div>

        <br><br>
        <center> <button id="block_pos" type="button" class="btn btn-alert"> block </button> </center>
        <br>
        <center> <button id="save_param" type="button" class="btn btn-success"> save </button> </center>
        <br>

        <br><br>

  </div>

</div>
