<!-- Views -->

<div class="panel_views  input_interface" hidden >

  <div class="titlepanel" > Views </div>

      <br><br><br>

      <div style="line-height:2.6; padding-left:6px">
        <span class="eye eye-down"  id="above_view" data-toggle="tooltip" title="Vue de dessus"   style="margin-right:16px"></span>
        <span class="eye eye-up"    id="front_view" data-toggle="tooltip" title="Vue de face"     style="margin-right:16px"></span>
        <span class="eye eye-down"  id="back_view"  data-toggle="tooltip" title="Vue de derrière" style="margin-right:16px"></span>
        <span class="eye eye-right" id="left_view"  data-toggle="tooltip" title="Vue de gauche"   style="margin-right:16px"></span>
        <span class="eye eye-left"  id="right_view" data-toggle="tooltip" title="Vue de droite"></span>
      </div>
      <br>
      <center><button id="show_view_dirs" type="button" class="btn btn-default btn-sm"> Directions 3D </button></center>
      <hr>
      <div  class="help" id="mouse_keys_nav" > mouse keys navigation </div>


</div>

<script>

    var view_arrows = null

    // ---- Opacité des objets de la scène ----
    function each_material(m, fn){
         if (!m){ return }
         if (m.materials){ for (var j in m.materials){ fn(m.materials[j]) } }   // MeshFaceMaterial
         else { fn(m) }
    }
    function dim_objects(){                          // objets à 0.5 (mémorise l'opacité d'origine)
         for (var i in objects){
               each_material(objects[i].material, function(mat){
                     if (mat._origOpacity === undefined){
                           mat._origOpacity = mat.opacity
                           mat._origTransparent = mat.transparent
                     }
                     mat.transparent = true
                     mat.opacity = 0.5
                     mat.needsUpdate = true
               })
         }
    }
    function restore_objects_opacity(){             // restaure l'opacité par défaut
         for (var i in objects){
               each_material(objects[i].material, function(mat){
                     if (mat._origOpacity !== undefined){
                           mat.opacity = mat._origOpacity
                           mat.transparent = mat._origTransparent
                           mat.needsUpdate = true
                           delete mat._origOpacity
                           delete mat._origTransparent
                     }
               })
         }
    }

    // ---- Flèches 3D des directions de vue ----
    function hide_view_arrows(){
         if (view_arrows){ scene.remove(view_arrows); view_arrows = null }
         restore_objects_opacity()
         $('#show_view_dirs').text('Directions 3D')
    }

    function show_view_arrows(){
         view_arrows = new THREE.Object3D()
         var D = 1000, L = 600, hl = 140, hw = 90              // base, longueur, pointe
         var defs = [
               { dir:[ 0, 0, 1], col:0x3399ff, view:'above_view', noTail:true },  // dessus (bleu, sans queue)
               { dir:[ 0,-1, 0], col:0x33cc33, view:'front_view' },               // face
               { dir:[ 0, 1, 0], col:0x009900, view:'back_view'  },               // derrière
               { dir:[-1, 0, 0], col:0xff3333, view:'left_view'  },               // gauche
               { dir:[ 1, 0, 0], col:0xcc0000, view:'right_view' }                // droite
         ]
         for (var i in defs){
               var d = new THREE.Vector3(defs[i].dir[0], defs[i].dir[1], defs[i].dir[2])
               var base = d.clone().multiplyScalar(D)          // base côté point de vue
               var inward = d.clone().negate()                 // pointe vers la scène
               var arr = new THREE.ArrowHelper(inward, base, L, defs[i].col, hl, hw)
               arr.userData.viewId = defs[i].view
               if (defs[i].noTail){ arr.line.visible = false } // flèche bleue : pas de queue
               view_arrows.add(arr)
         }
         scene.add(view_arrows)
         dim_objects()
         $('#show_view_dirs').text('Cacher les directions')
    }

    function toggle_view_arrows(){
         if (view_arrows){ hide_view_arrows() } else { show_view_arrows() }
    }
    $('#show_view_dirs').click(toggle_view_arrows)

    // ---- Clic sur une flèche : change la vue + restaure l'opacité ----
    function on_arrow_click(event){
         if (!view_arrows){ return }
         var rect = renderer.domElement.getBoundingClientRect()
         var mp = new THREE.Vector2(
               ((event.clientX - rect.left) / rect.width) * 2 - 1,
              -((event.clientY - rect.top) / rect.height) * 2 + 1
         )
         var ray = new THREE.Raycaster()
         ray.setFromCamera(mp, camera)
         var hits = ray.intersectObjects(view_arrows.children, true)
         if (!hits.length){ return }
         var o = hits[0].object
         while (o && !(o.userData && o.userData.viewId)){ o = o.parent }   // remonte jusqu'à l'ArrowHelper
         if (o && o.userData.viewId){
               var vid = o.userData.viewId
               hide_view_arrows()              // retire flèches + restaure opacité
               $('#' + vid).click()            // applique la vue (handler existant)
         }
    }
    renderer.domElement.addEventListener('click', on_arrow_click, false)

</script>
