<!-- Interaction : pilotage de la physique en direct -->

    <div class="panel_interaction input_interface" hidden >

      <div class="titlepanel" > Dynamics </div>

          <br><br><br>

          <div class="help">
            <label><input type="checkbox" id="chk_gravity"> Gravity (z)</label>
          </div><br>

          <div class="help">
            <label><input type="checkbox" id="chk_springs"> Springs (chains)</label>
          </div><br>

          <div class="help">
            <label><input type="checkbox" id="chk_attract"> Object interaction (1/r²)</label>
          </div><br>

          <div class="help">
            <label><input type="radio" name="attract_sign" id="rad_attract"> Attraction</label>
            &nbsp;
            <label><input type="radio" name="attract_sign" id="rad_repulse"> Repulsion</label>
          </div><br>

          <div class="help"> <span> Strength: </span>
            <input value="3000" size=8 id="attract_strength_input">
          </div><br>

          <hr>
          <div class="help">
            <label><input type="checkbox" id="chk_random_speed"> Random initial velocity</label>
          </div><br>

          <div class="help"> <span> Velocity strength: </span>
            <input type="range" id="rng_speed_intensity" min="0" max="200" step="5" style="vertical-align:middle; width:120px">
            <span id="speed_intensity_val"></span>
          </div><br>

    </div>

    <script>

    // --- Initialise les contrôles à partir des variables globales (scene_params.js) ---
    $('#chk_gravity').prop('checked', gravity_ok)
    $('#chk_springs').prop('checked', springs_ok)
    $('#chk_attract').prop('checked', one_over_r2)
    $('#rad_attract').prop('checked', attract_strength_one_over_r2 >= 0)
    $('#rad_repulse').prop('checked', attract_strength_one_over_r2 < 0)
    $('#attract_strength_input').val(Math.abs(attract_strength_one_over_r2))

    // --- Câblage : chaque contrôle écrit dans le drapeau physique correspondant ---
    $('#chk_gravity').change(function(){ gravity_ok = this.checked })
    $('#chk_springs').change(function(){ springs_ok = this.checked })
    $('#chk_attract').change(function(){ one_over_r2 = this.checked })

    function update_attract_strength(){
        var mag  = Math.abs(parseFloat($('#attract_strength_input').val()) || 0)
        var sign = $('#rad_repulse').is(':checked') ? -1 : 1   // répulsion = signe négatif
        attract_strength_one_over_r2 = sign * mag
    }
    $('#rad_attract').change(update_attract_strength)
    $('#rad_repulse').change(update_attract_strength)
    $('#attract_strength_input').on('input change', update_attract_strength)

    // --- Vitesse de départ des boules : mode aléatoire/zéro + intensité ---
    $('#chk_random_speed').prop('checked', random_initial_speed)
    $('#rng_speed_intensity').val(random_speed_module)
    $('#speed_intensity_val').text(random_speed_module)
    $('#chk_random_speed').change(function(){ random_initial_speed = this.checked })
    $('#rng_speed_intensity').on('input change', function(){
        random_speed_module = parseFloat(this.value)
        $('#speed_intensity_val').text(random_speed_module)
    })

    // Ne pas faire pivoter la caméra quand on manipule le panneau
    $('.panel_interaction').hover(
        function(){ controls.enabled = false },
        function(){ controls.enabled = true }
    )

    </script>
