<div class="panel_tools input_interface" hidden >

  <div class="titlepanel" > Tools </div>

      <br><br><br>

      <div  class="help" id="distance" > distance </div><br>
      <div  class="help" id="properties" > group properties </div><br>
      <div  class="help" id="stats_area" > stats about selected area </div><br>
      <div  class="help" >
            <label><input type="checkbox" id="chk_energy_graph"> energy graph</label>
      </div><br>

</div>

{% include 'panel_tools_stats.html' %}

<script>

$('#stats_area').click(function(){
  $('.panel_tools_stats').toggle()
  show_selection_stats()
  //alert('oooo')
})
$('.panel_tools_stats').click(function(){
    $(this).toggle()
})

// Graphe d'énergie : affiche/masque la fenêtre + active l'enregistrement
$('#chk_energy_graph').prop('checked', show_energy_graph)
$('#chk_energy_graph').change(function(){
    show_energy_graph = this.checked
    if (show_energy_graph){
          energy_hist = { tot: [], kin: [], pot: [] }   // repart d'un historique vierge
          $('#energy_graph_box').show()
    } else {
          $('#energy_graph_box').hide()
    }
})

</script>
