<div class="panel_tools input_interface" hidden >

  <div class="titlepanel" > Tools </div>

      <br><br>

      <!-- Onglets -->
      <div class="dyn_tabs">
        <button type="button" class="dyn_tab_btn active" data-tab="tab_graphs">Graphs</button>
        <button type="button" class="dyn_tab_btn" data-tab="tab_measures">Measures</button>
      </div>

      <!-- ===== Page : Graphs ===== -->
      <div id="tab_graphs" class="dyn_tab">
          <div  class="help" >
                <label><input type="checkbox" id="chk_energy_graph"> energy graph</label>
          </div><br>
          <div  class="help" >
                <label><input type="checkbox" id="chk_velocity_hist"> velocity histogram</label>
          </div><br>
      </div>

      <!-- ===== Page : Measures ===== -->
      <div id="tab_measures" class="dyn_tab" style="display:none">
          <div  class="help" id="distance" > distance </div><br>
          <div  class="help" id="properties" > group properties </div><br>
          <div  class="help" id="stats_area" > stats about selected area </div><br>
      </div>

</div>

{% include 'panel_tools_stats.html' %}

<script>

$('#stats_area').click(function(){
  $('.panel_tools_stats').toggle()
  show_selection_stats()
  //alert('oooo')
})
$('.panel_tools_stats').click(function(){
    $(this).toggle()
})

// Graphe d'énergie : affiche/masque la fenêtre + active l'enregistrement
$('#chk_energy_graph').prop('checked', show_energy_graph)
$('#chk_energy_graph').change(function(){
    show_energy_graph = this.checked
    if (show_energy_graph){
          energy_hist = { tot: [], kin: [], pot: [] }   // repart d'un historique vierge
          $('#energy_graph_box').show()
    } else {
          $('#energy_graph_box').hide()
    }
})

// Histogramme des vitesses : affiche/masque la fenêtre
$('#chk_velocity_hist').prop('checked', show_velocity_hist)
$('#chk_velocity_hist').change(function(){
    show_velocity_hist = this.checked
    if (show_velocity_hist){
          $('#velocity_hist_box').show()
          draw_velocity_hist()                           // dessin immédiat (sans attendre l'animation)
    } else {
          $('#velocity_hist_box').hide()
    }
})

</script>
