<!-- Objects -->

<div class="panel_objects  input_interface" hidden >

  <div class="titlepanel" > Object </div>

      <br><br><br>

        <center>
              <div class="form-group" style="width:30%;">
                   <select class="form-control" style="font-size:17px;" id="select_shape">
                         <option>wall</option>
                         <option>cube</option>
                         <option>plane</option>
                         <option>pavement</option>
                         <option>track</option>
                         <option>box</option>
                         <option>sphere</option>
                         <option>string</option>
                         <option>no tool</option>
                   </select>
              </div>
          </center>
          <br>
          <br>

          {% set attrs = ['width', 'height','thickness', 'angle',
                            'color', 'alpha',  'mass', 'speed', 'friction'] %}
          {% for attr in attrs %}
          <div class="help" > <span> {{attr}} :</span><span> <input  value={{attr}} size=8 id="{{attr}}_general_obj"> </span> </div>
          {% endfor %}

          <div class="help">

                  <span> texture: </span>
                  <span id='drop-message' class="dz-message ">  </span>
                  <div   id ="dropz" action="/upload_file" class="dropzone" method="POST" enctype="multipart/form-data" hidden >
                  </div>

          </div>
          <br>
          <br>
          <br>

          <center>
             <button id="save_param_general_obj" type="button" class="btn btn-success">
                  save
            </button>
          </center>
          <br>

</div>

<script>

{% set objs = ['wall', 'cube', 'plane', 'pavement', 'track',
                'box', 'sphere', 'string', 'no_tool'] %}
dict_obj_param = {}
{% for obj in objs %}
dict_obj_param['{{obj}}'] = 'new_' + '{{obj}}' + '_ok'
{% endfor %}

reinit_params_ok()

// function reinit_params_ok(){
//
//       new_wall_ok = false;  		    	// create a new wall with the mouse
//       new_cube_ok = false;  		// create a new simple_cube with the mouse
//       new_cube_texture_ok = false
//       new_pavement_ok = false;
//       new_plane_ok = false;             // make a plane
//       new_sphere_ok = false;          // make a sphere
//       new_box_ok = false              // box
//
// }

$('#select_shape').change(function(){

      /*
      Select current option..
      */

      //var dop = dict_obj_param
      reinit_params_ok()
      //for (var i in dict_obj_param){ dict_obj_param[dict_obj_param[i]] = false }
      var param = dict_obj_param[$(this).val()]
      window[param] = true //! window[param]
})

</script>
