<div style="cursor: auto;">

  <div class="panel input_interface" id="pan" >

        <div class="titlepanel" > Parameters </div>

        <br><br>

        <div> <span> name: </span><span id="name_panel" ></span></div> <br><br>
        {% set attrs = ['width', 'height','thickness', 'angle',
                          'color', 'alpha', 'type', 'mass', 'speed'] %}
        {% for attr in attrs %}
        <div> <span> {{attr}} :</span><span> <input  value={{attr}} size=8 id="{{attr}}_panel"> </span> </div>
        {% endfor %}

        <div>

                <span> texture: </span>
                <span id='drop-message' class="dz-message ">  </span>
                <div   id ="dropz" action="/upload_file" class="dropzone" method="POST" enctype="multipart/form-data" hidden >
                </div>

        </div>

        <br>
        <center> <button id="block_pos" type="button" class="btn btn-alert"> block </button> </center>
        <br>
        <center> <button id="save_param" type="button" class="btn btn-success"> save </button> </center>
        <br>

        <br><br>

  </div>

</div>
