<!DOCTYPE>
<html>
  <head>
    <title>Cooking with artyom.js</title>
    <!-- Important to load artyom in the head tag, this give time to load all the voices in the browser -->
    <!-- <script src="artyom.js"></script> -->
    <script src="artyom.window.min.js"></script>

  </head>
  <body>

    <script>

    // Create a global accesible instance of artyom
    const artyom = new Artyom();

    // Add a single command
    var commandHello = {
      indexes:["hello","good morning","hey"], // These spoken words will trigger the execution of the command
      action:function(){ // Action to be executed when a index match with spoken word
          artyom.say("Hey buddy ! How are you today?");
      }
    };

    artyom.addCommands(commandHello); // Add the command with addCommands method. Now

    </script>
  </body>
</html>
