<!DOCTYPE html>
<html>
<head>
	<title>test dropzone</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="/static/css/style.css"> <!-- Resource style -->



    <!-- socket.io -->
    <script src="/static/vendor/socket.io-1.3.5.min.js"></script>


		<!-- jquery -->
		<script src="/static/vendor/jquery-1.12.0.min.js"></script>
		<!-- jquery-ui -->
		<script src="/static/vendor/jquery-ui-1.11.4.js"></script>

		<!-- bootstrap -->
		<script src="/static/vendor/bootstrap-3.3.6.min.js"></script>
		<link rel="stylesheet" href="/static/vendor/bootstrap-3.3.6.min.css">

		<!-- Dropzone -->

		<script src="/static/vendor/dropzone-4.3.0.js"></script>
		<script src="/static/js/manage_drop.js"></script>
		<link rel="stylesheet" href="/static/vendor/dropzone-4.3.0.css">

</head>
<body>

	<form id ="dropz" action="/upload_file" class="dropzone" method="POST" enctype="multipart/form-data" ></form>     


<script>

    manage_drop()                                          // manage the Dropzone

</script>

</body>
</html>
