

<!-- Three dependencies_interact -->

<script src="/static/js/simple_flat/three.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/102/three.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/90/three.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/80/three.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.js"></script>

<!-- <script src="/static/js/simple_flat/TrackballControls.js"></script> -->
<script src='https://rawgit.com/YaleDHLab/pix-plot/master/assets/js/trackball-controls.js'></script>
<script type="/static/js/point_locker.js"></script>
