<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Briques</title>

	<!-- <script src="js/three.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.js"></script>

<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js"></script> -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/soundmanager2/2.97a.20150601/script/soundmanager2-jsmin.js"></script>
	<script src="js/StereoEffect.js"></script>
	<script src="js/DeviceOrientationControls.js"></script>
	<script src="js/OrbitControls.js"></script>
	<script type="text/javascript" src="js/town.js"></script>
	<script type="text/javascript" src="js/sky.js"></script>
	<script src="js/building_brick4.js"></script>
	<script src="briques_house3.js"></script>

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<script type="x-shader/x-vertex" id="vertexShader">
		varying vec3 vWorldPosition;
		void main() {
			vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
			vWorldPosition = worldPosition.xyz;
			gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
		}
	</script>

	<script type="x-shader/x-fragment" id="fragmentShader">
		uniform vec3 topColor;
		uniform vec3 bottomColor;
		uniform float offset;
		uniform float exponent;
		varying vec3 vWorldPosition;
		void main() {
			float h = normalize( vWorldPosition + offset ).y;
			gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( max( h , 0.0), exponent ), 0.0 ) ), 1.0 );
		}
	</script>

	<div id="container"></div>
</body>

</html>
